{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'departamento_list' %}">Departamento Listar</a></p>
<table class="table">
<tr><td>idDepartamento</td><td>{{ object.idDepartamento }}</td></tr>
<tr><td>nombre</td><td>{{ object.nombre }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar Departamento</a>

{% endblock %}
