{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'femicidio_list' %}">Femicidio Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>idFemicidio</td>
    <td>fecha</td>
    <td>causa</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.idFemicidio }}</td>
    <td>{{ object.fecha }}</td>
    <td>{{ object.causa }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'femicidio_create' %}">Crear Femicidio</a>
{% endblock %}