{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'femicidiopersona_list' %}">FemicidioPersona Listar</a></p>
<table class="table">
<tr><td>id_femicidio_persona</td><td>{{ object.id_femicidio_persona }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar FemicidioPersona</a>

{% endblock %}