{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'femicidiopersona_list' %}">FemicidioPersona Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>id_femicidio_persona</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.id_femicidio_persona }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'femicidiopersona_create' %}">Crear FemicidioPersona</a>
{% endblock %}