{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'femicidio_list' %}">Femicidio Listar</a></p>
<table class="table">
<tr><td>idFemicidio</td><td>{{ object.idFemicidio }}</td></tr>
<tr><td>fecha</td><td>{{ object.fecha }}</td></tr>
<tr><td>causa</td><td>{{ object.causa }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar Femicidio</a>

{% endblock %}