{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'informe_list' %}">Informe Listar</a></p>
<table class="table">
<tr><td>idInforme</td><td>{{ object.idInforme }}</td></tr>
<tr><td>estado</td><td>{{ object.estado }}</td></tr>
<tr><td>situacion</td><td>{{ object.situacion }}</td></tr>
<tr><td>sentencia</td><td>{{ object.sentencia }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar Informe</a>

{% endblock %}