{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'informe_list' %}">Informe Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>idInforme</td>
    <td>estado</td>
    <td>situacion</td>
    <td>sentencia</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.idInforme }}</td>
    <td>{{ object.estado }}</td>
    <td>{{ object.situacion }}</td>
    <td>{{ object.sentencia }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'informe_create' %}">Crear Informe</a>
{% endblock %}