{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lugar_list' %}">Lugar Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>idLugar</td>
    <td>nombre</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.idLugar }}</td>
    <td>{{ object.nombre }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'lugar_create' %}">Crear Lugar</a>
{% endblock %}