{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lugar_list' %}">Lugar Listar</a></p>
<table class="table">
<tr><td>idLugar</td><td>{{ object.idLugar }}</td></tr>
<tr><td>nombre</td><td>{{ object.nombre }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar Lugar</a>

{% endblock %}