{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'ocupacion_list' %}">Ocupacion Listar</a></p>
<table class="table">
<tr><td>id_ocupacion</td><td>{{ object.id_ocupacion }}</td></tr>
<tr><td>nombre_ocupacion</td><td>{{ object.nombre_ocupacion }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar Ocupacion</a>

{% endblock %}