{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'ocupacion_list' %}">Ocupacion Listar</a></p>
<table class="table">
<tr>
    <td>ID</td>
    <td>Link</td>
    <td>id_ocupacion</td>
    <td>nombre_ocupacion</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.id_ocupacion }}</td>
    <td>{{ object.nombre_ocupacion }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'ocupacion_create' %}">Crear Ocupacion</a>
{% endblock %}
