{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pais_list' %}">Pais Listar</a></p>
<table class="table">
<tr><td>idPais</td><td>{{ object.idPais }}</td></tr>
<tr><td>nombre</td><td>{{ object.nombre }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar Pais</a>

{% endblock %}