{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'persona_list' %}">Persona Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>id_persona</td>
    <td>nombre</td>
    <td>apellidos</td>
    <td>edad</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.id_persona }}</td>
    <td>{{ object.nombre }}</td>
    <td>{{ object.apellidos }}</td>
    <td>{{ object.edad }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'persona_create' %}">Crear Persona</a>
{% endblock %}