{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'persona_list' %}">Persona Listar</a></p>
<table class="table">
<tr><td>id_persona</td><td>{{ object.id_persona }}</td></tr>
<tr><td>nombre</td><td>{{ object.nombre }}</td></tr>
<tr><td>apellidos</td><td>{{ object.apellidos }}</td></tr>
<tr><td>edad</td><td>{{ object.edad }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar Persona</a>

{% endblock %}