{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'provincia_list' %}">Provincia Listar</a></p>
<table class="table">
<tr><td>idProvincia</td><td>{{ object.idProvincia }}</td></tr>
<tr><td>nombre</td><td>{{ object.nombre }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar Provincia</a>

{% endblock %}