{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'provincia_list' %}">Provincia Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>idProvincia</td>
    <td>nombre</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.idProvincia }}</td>
    <td>{{ object.nombre }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'provincia_create' %}">Crear Provincia</a>
{% endblock %}