{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'relacionvictima_list' %}">RelacionVictima Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>idRelacion</td>
    <td>tipoRelacion</td>
    <td>agresionPrevia</td>
    <td>tiempoRelacion</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.idRelacion }}</td>
    <td>{{ object.tipoRelacion }}</td>
    <td>{{ object.agresionPrevia }}</td>
    <td>{{ object.tiempoRelacion }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'relacionvictima_create' %}">Crear RelacionVictima</a>
{% endblock %}