{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'relacionvictima_list' %}">RelacionVictima Listar</a></p>
<table class="table">
<tr><td>idRelacion</td><td>{{ object.idRelacion }}</td></tr>
<tr><td>tipoRelacion</td><td>{{ object.tipoRelacion }}</td></tr>
<tr><td>agresionPrevia</td><td>{{ object.agresionPrevia }}</td></tr>
<tr><td>tiempoRelacion</td><td>{{ object.tiempoRelacion }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar RelacionVictima</a>

{% endblock %}