{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'tipoarma_list' %}">TipoArma Listar</a></p>
<table class="table">
<tr><td>id_tipo_arma</td><td>{{ object.id_tipo_arma }}</td></tr>
<tr><td>nombre_tipo_arma</td><td>{{ object.nombre_tipo_arma }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar TipoArma</a>

{% endblock %}