{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'tipoarma_list' %}">TipoArma Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>id_tipo_arma</td>
    <td>nombre_tipo_arma</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.id_tipo_arma }}</td>
    <td>{{ object.nombre_tipo_arma }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'tipoarma_create' %}">Crear TipoArma</a>
{% endblock %}