{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'tipopersona_list' %}">TipoPersona Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>id_tipo_persona</td>
    <td>nombre_tipo</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.id_tipo_persona }}</td>
    <td>{{ object.nombre_tipo }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'tipopersona_create' %}">Crear TipoPersona</a>
{% endblock %}