{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'tipopersona_list' %}">TipoPersona Listar</a></p>
<table class="table">
<tr><td>id_tipo_persona</td><td>{{ object.id_tipo_persona }}</td></tr>
<tr><td>nombre_tipo</td><td>{{ object.nombre_tipo }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar TipoPersona</a>

{% endblock %}