{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'url_list' %}">Url Listar</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>idUrl</td>
    <td>nombreUrl</td>
    <td>fecha</td>
    <td>texto</td>
    <td>palabra_clave</td>
    <td>categoria</td>
    <td>autor</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">Editar</a></td>
    <td>{{ object.idUrl }}</td>
    <td>{{ object.nombreUrl }}</td>
    <td>{{ object.fecha }}</td>
    <td>{{ object.texto }}</td>
    <td>{{ object.palabra_clave }}</td>
    <td>{{ object.categoria }}</td>
    <td>{{ object.autor }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'url_create' %}">Crear Url</a>
{% endblock %}