{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'url_list' %}">Url Listar</a></p>
<table class="table">
<tr><td>idUrl</td><td>{{ object.idUrl }}</td></tr>
<tr><td>nombreUrl</td><td>{{ object.nombreUrl }}</td></tr>
<tr><td>fecha</td><td>{{ object.fecha }}</td></tr>
<tr><td>texto</td><td>{{ object.texto }}</td></tr>
<tr><td>palabra_clave</td><td>{{ object.palabra_clave }}</td></tr>
<tr><td>categoria</td><td>{{ object.categoria }}</td></tr>
<tr><td>autor</td><td>{{ object.autor }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Editar Url</a>

{% endblock %}